- name: Configure webserver with livy
  hosts: livy
  tasks:
    - name: copy livy
      unarchive: src=files/apache-livy-0.8.0-incubating-bin.zip dest=/opt/clouddata/modules
    - name: copy livy conf 
      copy: src=templates/livy.conf dest=/opt/clouddata/modules/apache-livy-0.8.0-incubating-bin/conf/livy.conf
    - name: copy livy-env.sh
      copy: src=templates/livy-env.sh dest=/opt/clouddata/modules/apache-livy-0.8.0-incubating-bin/conf/livy-env.sh
    - name: boot livy server
      shell: chdir=/opt/clouddata/modules/apache-livy-0.8.0-incubating-bin/bin  nohup sh livy-server start &