[Unit]
Description=kafka.service
After=network.target remote-fs.target zookeeper.service

[Service]
User=root
Type=forking
ExecStart=/usr/bin/bash /opt/clouddata/modules/{{kafka_dir}}/bin/kafka-server-start.sh -daemon /opt/clouddata/modules/{{kafka_dir}}/config/server.properties
ExecStop=/usr/bin/bash /opt/clouddata/modules/{{kafka_dir}}/bin/kafka-server-stop.sh
ExecReload=$ExecStop;$ExecStart
LimitCORE=infinity
LimitNOFILE=204800
LimitNPROC=204800

[Install]
WantedBy=multi-user.target