[Unit]
Description=nacos
After=network.target

[Service]
Type=forking
ExecStart=/opt/clouddata/modules/nacos/bin/startup.sh -m standalone
ExecReload=/opt/clouddata/modules/nacos/bin/shutdown.sh
ExecStop=/opt/clouddata/modules/nacos/bin/shutdown.sh
Environment=JAVA_HOME=/opt/clouddata/modules/jdk1.8.0_271
PrivateTmp=true

[Install]
WantedBy=multi-user.target