# 生产环境

# 服务器配置
server:
  # 服务器的HTTP端口。
  port: 5186
  servlet:
    context-path: /iov/rest/

# Spring 配置
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: CloudData-Restful
  # 开启彩色日志
  output:
    ansi:
      enabled: always

# swagger地址    http://127.0.0.1:5186/iov/rest/swagger-ui.html
swagger.ui: swagger-ui.html

# Dubbo 配置
dubbo:
  registry:
    # consumer订阅服务地址
    address: nacos://{{groups['nacos']|first}}:8848
    # 启动时检查注册中心
    check: false
  scan:
    # 扫描Reference注解
    base-packages: com.iov.service.consumer
  protocol:
    # 以dubbo协议执行RPC调用
    name: dubbo
    port: -1
  consumer:
    # 启动时检查provider服务是否可用
    check: false
    # 订阅具有指定gv的服务
    group: dubbo
    version: 1.0.0
  application:
    qos-enable: false
auth:
  authFlag: false
  confRootPath: D:\kafka_config\
  #  confRootPath: /home/zafk-message/kafka_conf/
  krb5File: krb5.conf
  userKeyFile: user.keytab
  userKey: lkzafk_jj
fileConfig:
  filedownurl: /opt/data-platform
  uploadUrl: /data-platform
  ip: 10.10.1.86
  dir: /data/share
##分片上传akka
akka:
  thread:
    num: 8