#开发环境

# 服务器配置
server:
  # 服务器的HTTP端口。
  port: 5186
  servlet:
    context-path: /iov/rest/

# Spring 配置
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: CloudData-Restful
  datasource:
    druid:
      # 8.x.x mysql驱动
      driver-class-name: com.mysql.cj.jdbc.Driver
      # 单一数据源
      url: jdbc:mysql://{{groups['mysql']|first}}:3306/uni_datahub_merge0114?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8
      username: root
      password: 123456
  # 开启彩色日志
  output:
    ansi:
      enabled: always


# FIXME 配置生效？ swagger地址    http://127.0.0.1:5186/iov/rest/swagger-ui.html
swagger.ui: swagger-ui.html

auth:
  authFlag: false
  confRootPath: D:\kafka_config\
  #  confRootPath: /home/zafk-message/kafka_conf/
  krb5File: krb5.conf
  userKeyFile: user.keytab
  userKey: lkzafk_jj
##分片上传akka
akka:
  thread:
    num: 8


# Mybatis 配置
mybatis:
  mapperLocations: classpath:configs/mappers/**/*.xml
  configuration:
    call-setters-on-nulls: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl