# 生产环境

# 服务器配置
server:
  # 服务器的HTTP端口。
  port: 5187
  code: MTI3LjAuMC4x

# Spring 配置
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: DataAccess-Engine
  output:
    ansi:
      # 开启彩色日志
      enabled: always

#kafka认证配置
auth:
  authFlag: false
#  confRootPath: D:\kafka_config\
  confRootPath: /home/zafk-message/kafka_conf/
  krb5File: krb5.conf
  userKeyFile: user.keytab
  userKey: lkzafk_jj

#debezium文件存储路径
debezium:
  storageFilePath: /home/debeziumFile/storage
  historyFilePath: /home/debeziumFile/history