
user  root;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    #gzip  on;

    server {
          listen       9002;
        client_max_body_size 20M;

           location /dataService {
                 proxy_pass http://{{groups['server']|first}}:16010/dataService/;
             }

           location /service {
                 alias /home/clouddata/Data_platform/dataservice/dist;
                 index  index.html index.htm;
                 try_files $uri /index.html index.html;
                 add_header Access-Control-Allow-Origin *;
                 add_header Cache-Control no-cache;
                 expires  -1s;
             }


           #数据中台
           location /rest/ {
                 proxy_pass http://{{groups['server']|first}}:5186/iov/rest/;
                 proxy_cookie_path '/iov' '';
             }

           location ~/(component|dataAsset|desktop|dispatch|exchange|handing|management|cdn)/ {
                 root /home/clouddata/Data_platform/dist/;
                 index  index.html index.htm;
             }

           location  / {
                root /home/clouddata/Data_platform/dist/desktop/;
                index  index.html index.htm;
             }

                             
    }

}
